* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 600;
}

header {
  background-color: rgb(27, 67, 177);
  height: 9vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

header a {
  color: white;
  text-decoration: none;
  font-size: 40px;
}

main {
  background-color: rgb(223, 50, 130);
  color: white;
  height: 91vh;
  position: relative;
  overflow-y: scroll;
}

.actorlist {
  width: 80%;
  margin: 50px 10%;
  list-style: none;
  position: absolute;
  border: white solid 1px;
}

.actorlist li {
  border: white solid 1px;
  min-height: 45px;
  display: grid;
  grid-template-columns: 45px 1fr 30px;
  align-items: center;
  border-left: 1px solid white;
}

.actorlist li > * {
  display: flex;
  height: 100%;
  align-items: center;
  text-decoration: none;
  color: white;
}

.list_number {
  justify-content: center;
}

.actor_name {
  border-left: 2px solid white;
  padding-left: 10px;
}

.actor_name:hover {
  background-color: rgb(27, 67, 177);
}

.pop_up {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.719);
  width: 100%;
  height: 91vh;
  visibility: hidden;
}

.pop_up_window {
  width: 80%;
  margin: 50px 10%;
  list-style: none;
  background-color: rgb(223, 50, 130);
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  position: relative;
  text-align: center;
  font-size: 30px;
}

.close_button {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}

.actor_name, .movie_tag {
  cursor: pointer;
}
